@import url(http://fonts.googleapis.com/css?family=Roboto:300,100,100italic,300italic);

#mainc-nav ul {
    list-style: none;
    font-family: 'Roboto Thin', "Verdana", sans-serif;
}

 li {
     float: left;
     padding-right: 1em;
     padding-left: 1em;
 }

 #logo {
     float: left;
     padding-right: 15px;
 }