@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,100italic,300italic,400italic);

body{

    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto, Verdana, sans-serif;
    
}



#about-p{    
    padding: 25px;
    border: 5px solid black;
    margin: 25px;    
}


#index-p{
    padding: 25px;
    border: 5px solid black;
    margin: 25px;
}


a:link{
    text-decoration: none;
    font-weight: 300;
    color: white;
}


a:visited{
    text-decoration: none;
    font-weight: 300;
    color: white;
}


a:active{
    text-decoration: none;
    font-weight: 300;
    color: rgb(255,0,37);
}

a:hover{
    text-decoration: none;
    font-weight: 300;
    color: rgb(255,0,37);
}

a:hover{
    text-decoration: none;
    font-weight: 300;
    color: rgb(255,0,37);
}

nav {
    display: inline-block;
    line-height: 64px;
    vertical-align: center;
    
}

nav ul {
    list-style: none;
    
    font-family: 'Roboto', "Verdana", sans-serif;
    font-weight: 300;
}

 li {
     float: left;
    margin-top: 2%;
     padding-right: 1em;
     
 }

h1{
    text-align: center;
    font-weight: 300;
    font-size: 2em;
}

#properties{
    
    display: vertical inline;
}

img {
    height: 100%;
}

 #logo {
     float: left;
     padding-right: 15px;
 }

 footer {
     font-size: .85em;
     width: 960px;
     color: white;
     font-family: 'Roboto', "Verdana", sans-serif;
     font-weight: 300;
     position: absolute;
     bottom: 0;
     max-width: 100%
 }

footer img{
    max-height: 25px;
    max-width: 20px;
    float: right;
}

footer a{
    color: lightblue
}

footer a:hover{
     color: rgb(255,0,37);
}


html { 
  background: url(img/bg.jpg) no-repeat center center fixed; 
  background-size: cover;
}